@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.project-list-container {
    padding: 20px;
    
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.header hr {
    width: 100%;
    margin: 0 0 20px 0;
}

.new-project-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #41c4aa;
    color: white;
    border-radius: 4px;
    margin-left: auto;
    width: 10rem;
    transition: background-color 0.9s, transform 0.2s; 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.new-project-btn:hover {
    background-color: #34b69f; 
    transform: scale(1.05); 
}

.new-project-btn svg {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
}

.project-content {
    border: 1px solid rgb(94, 94, 94);
    padding: 10px;
    border-radius: 4px;
}

.project-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.status-btn {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid grey;
    cursor: pointer;
    color: #000;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.status-btn.active {
    background-color: #2ecc71;
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-controls label {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.table-controls span {
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
}

.table-controls select {
    margin-right: 10px;
}

.table-controls input[type="search"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 7px;
    font-family: "Roboto", sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f9f9f9;
    
}
thead th {
    text-align: center; 
    background-color: #f9f9f9; 
    font-weight: bold; 
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    font-family: "Roboto", sans-serif;
}

th {
    text-align: left;
}

.view-link {
    color: #007bff;
    text-decoration: none;
}

.view-link:hover {
    text-decoration: underline;
}
.view-link svg {
    margin-right: 5px; 
    font-size: 1rem; 
    color: #007bff; 
}
.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination-controls span{
    font-family: "Roboto", sans-serif;
}
.pagination {
    display: flex;
    align-items: center;
}

.page-btn {
    padding: 5px 10px;
    border: 1px solid grey;
    cursor: pointer;
    color: #000;
    border-radius: 4px;
    margin: 0 5px;
    transition: background-color 0.5s, transform 0.2s; 
    font-family: "Roboto", sans-serif;
    
}

.page-btn:hover {
    background-color: #f0f0f0; 
    transform: scale(1.05); 
}

.page-btn svg {
    font-size: 0.8rem;
    padding: 0px;
}

.current-page {
    margin: 0 5px;
    background-color: #2980b9;
    color: white; 
    width: 20px;
    padding: 4px;
    border-radius: 4px; 
} 


