@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.Positions-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Positions-list-container {
    flex: 2;
    padding: 20px;
    border-radius: 4px;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.header hr {
    width: 100%;
    margin: 10px 0;
}

.new-Positions-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #41c4aa;
    color: white;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.new-Positions-btn:hover {
    background-color: #34b69f;
    transform: scale(1.05);
}

.new-Positions-btn svg {
    margin-right: 5px;
    font-size: 1.1rem;
}

.Positions-content {
    padding: 10px;
    border: 1px solid #ccc;
}

.table-controls-Positions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

.table-controls-Positions label {
    display: flex;
    align-items: center;
}

.table-controls-Positions span {
    margin-left: 6px;
}

.table-controls-Positions select,
.table-controls-Positions input[type="search"] {
    margin-left: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f9f9f9;
}

thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    font-family: "Roboto", sans-serif;
}

.edit-link {
    color: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.edit-link:hover {
    text-decoration: underline;
}

.edit-link svg {
    margin-right: 5px;
    font-size: 1rem;
}

.pagination-controls-Positions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-controls-Positions span {
    font-family: "Roboto", sans-serif;
}

.pagination-Positions {
    display: flex;
    align-items: center;
}

.page-btn {
    padding: 5px 10px;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
    font-family: "Roboto", sans-serif;
}

.page-btn:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.page-btn svg {
    font-size: 0.8rem;
}

.current-page {
    padding: 5px;
    background-color: #2980b9;
    color: white;
    border-radius: 4px;
}

.success-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    border: 2px solid #41c4aa;
    box-shadow: 24;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.success-modal h2 {
    margin: 0 0 10px 0;
    font-family: "Roboto", sans-serif;
}

.success-modal p {
    font-family: "Roboto", sans-serif;
    color: #41c4aa;
}
